In [2]:
import backtrader as bt
import alpaca_backtrader_api as api
import alpaca_trade_api as tradeapi


from config import key_id, secret_key

In [13]:
#trading data is called in the form of JSON
#https://api.polygon.io/v2/aggs/ticker/AAPL/range/1/day/2019-01-01/2019-02-01?apiKey=


api = tradeapi.REST(key_id, secret_key)
#turn into dataframe form
aapl = api.polygon.historic_agg_v2('AAPL', 1, 'minute', _from='2006-01-01', to='2019-02-01').df
#error 500 is api server down

In [14]:
aapl

                              open     high      low    close   volume
timestamp
2006-01-03 06:37:00-05:00  10.3357  10.3357  10.3357  10.3357    700.0
2006-01-03 07:14:00-05:00  10.3543  10.3543  10.3543  10.3543    700.0
2006-01-03 07:15:00-05:00  10.3586  10.3586  10.3586  10.3586   2100.0
2006-01-03 07:16:00-05:00  10.3586  10.3586  10.3586  10.3586   2100.0
2006-01-03 07:18:00-05:00  10.3586  10.3586  10.3586  10.3586    700.0
...                            ...      ...      ...      ...      ...
2006-01-13 16:47:00-05:00  12.2443  12.2443  12.2443  12.2443   1974.0
2006-01-13 16:49:00-05:00  12.2443  12.2443  12.2443  12.2443   2450.0
2006-01-13 16:50:00-05:00  12.2443  12.2443  12.2443  12.2443   3500.0
2006-01-13 16:51:00-05:00  12.2443  12.2486  12.2443  12.2443  19978.0
2006-01-13 16:52:00-05:00  12.2443  12.2500  12.2357  12.2357  27230.0

[5000 rows x 5 columns]

In [25]:
# Get daily price data for AAPL over the last 5 trading days.
barset = api.get_barset('AAPL', 'day', limit=5)
aapl_bars = barset['AAPL']

# See how much AAPL moved in that timeframe.
week_open = aapl_bars[0].o
week_close = aapl_bars[-1].c
percent_change = (week_close - week_open) / week_open
print('AAPL moved {}% over the last 5 days'.format(percent_change))

AAPL moved -0.0077611819633364495% over the last 5 days

# How to get a particular variable from the asset type data

In [26]:
asset=api.list_assets(status='active')[1]
asset

Asset({   'class': 'us_equity',
    'easy_to_borrow': True,
    'exchange': 'NYSE',
    'id': '0d7b78ef-b2dc-428f-b869-f8dab348cd5f',
    'marginable': True,
    'name': 'Commercial Metals Company',
    'shortable': True,
    'status': 'active',
    'symbol': 'CMC',
    'tradable': True})

In [27]:
asset.tradable , asset.id

(True, '0d7b78ef-b2dc-428f-b869-f8dab348cd5f')

# Get data of stock

# tradeapi.REST.get_barset(symbols, timeframe, limit, start=None, end=None, after=None, until=None)

Calls GET /bars/{timeframe} for the given symbols, and returns a Barset with limit Bar objects for each of the the requested symbols. timeframe can be one of minute, 1Min, 5Min, 15Min, day or 1D. minute is an alias of 1Min. Similarly, day is an alias of 1D. start, end, after, and until need to be string format, which you can obtain with pd.Timestamp().isoformat() after cannot be used with start and until cannot be used with end.

In [28]:

data=api.get_barset(symbols = ("INTC","MSFT"), start = "2019-04-21", end = "2020-01-01", timeframe = "15Min", limit=1000)
data.df

                             INTC                                       MSFT  \
                             open    high     low   close    volume     open
2020-01-30 12:45:00-05:00     NaN     NaN     NaN     NaN       NaN  171.245
2020-01-30 13:00:00-05:00  65.415  65.505  65.375  65.445   15362.0  171.405
2020-01-30 13:15:00-05:00  65.455  65.560  65.340  65.560   14862.0  171.425
2020-01-30 13:30:00-05:00  65.550  65.610  65.470  65.505    7593.0  171.400
2020-01-30 13:45:00-05:00  65.530  65.545  65.530  65.545     639.0  171.170
...                           ...     ...     ...     ...       ...      ...
2020-03-25 14:45:00-04:00  53.075  53.110  53.030  53.060    1224.0  152.010
2020-03-25 15:00:00-04:00  53.065  53.255  52.720  52.905   28652.0  151.900
2020-03-25 15:15:00-04:00  53.035  53.280  52.555  52.685   32728.0  152.100
2020-03-25 15:30:00-04:00  52.685  53.400  52.485  52.560   41240.0  152.105
2020-03-25 15:45:00-04:00  52.515  52.555  50.830  51.270  134227.0  149.985


                              high      low    close    volume
2020-01-30 12:45:00-05:00  171.360  171.245  171.360    2765.0
2020-01-30 13:00:00-05:00  171.660  171.285  171.420   38891.0
2020-01-30 13:15:00-05:00  171.675  171.095  171.380   41107.0
2020-01-30 13:30:00-05:00  171.420  170.960  171.120   61896.0
2020-01-30 13:45:00-05:00  171.275  171.150  171.275    6541.0
...                            ...      ...      ...       ...
2020-03-25 14:45:00-04:00  152.080  151.840  151.920     659.0
2020-03-25 15:00:00-04:00  152.610  151.590  152.170    9233.0
2020-03-25 15:15:00-04:00  153.145  151.870  151.985   29534.0
2020-03-25 15:30:00-04:00  152.765  149.880  150.260   56402.0
2020-03-25 15:45:00-04:00  150.040  146.010  146.920  156797.0

[1001 rows x 10 columns]

#### Dropping a multindex to get a particular stock

In [29]:
df=api.get_barset('WFC', '15Min', limit=500).df

#add timestamp column to get line charts
df['date'] = df.index 
df.head()

                              WFC                                 \
                             open    high     low   close volume
2020-02-27 14:15:00-05:00  43.485  43.550  43.245  43.525  40468
2020-02-27 14:30:00-05:00  43.490  43.515  43.355  43.480  31631
2020-02-27 14:45:00-05:00  43.250  43.275  43.250  43.260    900
2020-02-27 15:00:00-05:00  43.270  43.385  43.105  43.295  28679
2020-02-27 15:15:00-05:00  43.270  43.310  42.980  42.980  36863

                                               date

2020-02-27 14:15:00-05:00 2020-02-27 14:15:00-05:00
2020-02-27 14:30:00-05:00 2020-02-27 14:30:00-05:00
2020-02-27 14:45:00-05:00 2020-02-27 14:45:00-05:00
2020-02-27 15:00:00-05:00 2020-02-27 15:00:00-05:00
2020-02-27 15:15:00-05:00 2020-02-27 15:15:00-05:00

In [30]:
#dtale is for previewing and graphing without coding internally
import dtale


dtale.show(df, ignore_duplicate=True)

C:\Users\Jeffrey Wang\Anaconda3\lib\site-packages\pandas\core\generic.py:3936: PerformanceWarning:

dropping on a non-lexsorted multi-index without a level parameter may impact performance.

Executing shutdown due to inactivity...

2020-03-25 21:18:45,481 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2020-03-25 21:18:49,492 - INFO     - Executing shutdown...